# Database Url.
DATABASE_URL=
TEST_DB_URL=
# Sever Port.
SERVER_PORT=

# Jwt Secret for token signing and verification.
JWT_TOKEN_SECRET=

# Salt rounds for signing the passwords.
BCRYPT_SALT_ROUNDS=

# Email for Admin to logIn
ADMIN_EMAIL=

# Password for Admin to logIn
ADMIN_PASSWORD=